asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
cffi==1.11.5
constantly==15.1.0
cryptography==2.4.2
cssselect==1.0.3
enum34==1.1.6
fake-useragent==0.1.11
functools32==3.2.3.post2
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.22
lxml==4.2.5
numpy==1.15.4
pandas==0.23.4
parsel==1.5.1
phonenumbers==8.10.2
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
python-dateutil==2.7.5
pytz==2018.7
queuelib==1.5.0
Scrapy==1.5.1
scrapy-fake-useragent==1.1.0
service-identity==18.1.0
six==1.12.0
Twisted==18.9.0
w3lib==1.19.0
zope.interface==4.6.0